*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: #eee;
}
.capitulo_1 .side_bar{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    height: 50px;
    background-color: #000;
    color: #fff;
    line-height: 50px;
    font-size: 45px;
    position: fixed;
    top: 0;
    font-style: italic;
}
.side_bar .fas {
    color: #fff;
}
.capitulo_01{
   margin-top: 70px; 
   text-align: center;
   font-size: 40px;
}
.prefacio_01{
    text-align: center;
    margin-top: 25px;
    margin-bottom: 25px;
    font-size: 30px;
}
.versiculos{
    text-align:justify;
    margin: 50px;
    font-size: 22px;
    line-height: 35px;
}
.navegar{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.navegar .capa{
    font-size: 40px;
    text-decoration: none;
    margin-bottom: 30px;
    color: #000;
}

@media (min-width:375px) and (max-width:425px){
    .capitulo_1 .side_bar_nav{
       
        height: 40px;
        line-height: 40px;
        font-size: 30px;
    }
   
    .capitulo_01{
        margin-top: 60px;
        font-size: 30px;
    }
    .prefacio_01{
        margin-top: 15px;
        font-size: 20px;
        margin-bottom: 20px;
    }
    .versiculos{
        margin: 30px;
        font-size: 20px;
        line-height: 30px;
        padding: 10px;
    }

 
.navegar .capa {
    font-size: 25px;
    margin-bottom: 30px;
}
}