* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    margin: 0;
}

header {

    display: flex;
    flex-direction: column;
    height:65px;
    overflow: hidden;
}

.nav-bar {

    background: #073754;
    padding: 20px;
    display: block;
    color: #fff;
    cursor: pointer;
    font-size: 1.5em;
    width: 100vw;

}

.menu,
.submenu {

    list-style: none;
    padding: 0;
    margin: 0;
}

.menu {

    background: rgba(0, 0, 0, 1);
    width: 100%;
    margin-left: -100%;
    transition: all 0.5s;
    position: absolute;

}
.menu .juan {
    text-align: center;
}

.menu__link {
    display: flex;
    justify-content: center;
    padding: 20px;
    font-size: 30px;
    text-decoration: none;
    color: #fff;
}

.menu__link:hover {

    background: #fff;
    transition: all 0.3s;
    color: #000;
    font-weight: bold;

}
.submenu .menu__link:hover {

    background: none;

    font-weight: bold;

    transition: all 0.3s;

    color: #073754;

}
.submenu {



    height: 0;

    overflow: hidden;

    transition: all 0.3s;

}
.submenu .menu__link {

    background: #073754;

    padding-left: 40px;

}

.mostrar {

    margin-left: 0;

}

.volume_01 {

    text-align: center !important;

}

.submenu-serie {

    text-align: center;

}

.submenu-serie:hover {

    background-color: none !important;

}

/* slider */

.container {
    position: relative;
    top:493px;
    left: 849px;
    transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
}

.container img {
    width: 100vw;
    height: calc(100vh-65px) ;
  
}


/* css de las mensajes*/

@media (max-width: 450px) {
   
    header {
    margin: 0;
    height: 390px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    position: absolute;
    z-index: 1;
}

/* slider */

.container {
    position: relative;
    top: 188px;
    left: 50%;
    transform: translate(-50%,-50%);
}

.container img {
    width: 100vw;
    box-shadow: 25px 25px 8px #444;
}
}

@media(min-width:1024px) {

    .nav-bar {

        display: none;



    }

    .menu {

        margin-left: 0;

        display: flex;

        justify-content: space-evenly;

        background: #073754;
    }

    .menu__link {

        color: #fff;

        height: 100%;

        font-size: 22px;

    }

    .container-submenu {

        position: relative;

    }
    .menu__link:hover {

        background-color: #333;

        transition: all 0.3s;

        font-weight: normal;

        color: white;

    }

    .submenu .menu__link:hover {

        background-color: #333;

        font-weight: normal;

        transition: all 0.3s;

        color: #fff;

    }
    .submenu {

        position: absolute;

        top: 66px;

        width: 258px;

        overflow: visible;

        z-index: 999;

        opacity: 0;

        visibility: hidden;

    }
    .container-submenu:hover .submenu {

        opacity: 1;

        visibility: visible;

    }
    
}
